fastapi
uvicorn
transformers
pillow
python-multipart
pymongo
dnspython
ultralytics
opencv-python-headless
numpy
torch==2.2.2
torchvision==0.17.2
--extra-index-url https://download.pytorch.org/whl/cpu
certifi