fastapi
uvicorn
transformers==4.41.2
sentencepiece

pillow
python-multipart

pymongo
dnspython
certifi

ultralytics==8.2.0

opencv-python-headless

numpy<2

torch==2.2.2+cpu
torchvision==0.17.2+cpu

--extra-index-url https://download.pytorch.org/whl/cpu